@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.testimonial::after {
    content: "”";
    position: absolute;
    top: 126px;
    left: 20px;
    font-size: 280px;
    line-height: 10px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    transform: scale(-1,1);
    // opacity: .3;
}
.testimonial{
    border: none;
    border-radius: 30px;
    background-color: #f2f2f2 !important;
}
.smallimg{
    width: 63px;
    height: 60px;
    border-radius: 50%;
    max-width: 63px;
}
.testimonial__img{
    display: flex;
}
.card-text{
    position: relative;
    z-index: 1;
}